.o-orc-systray {
    > a.o-orc-systray-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .o-orc-systray-icon {
        width: 22px;
        height: 22px;
        display: block;
    }
}
