.o-orc-systray {
    .o-orc-systray-btn {
        padding: 0 .5rem;
        display: flex;
        align-items: center;
    }
    .o-orc-systray-icon {
        width: 22px;
        height: 22px;
        display: block;
    }
}
